<div class="container">

  <!-- Playlist menu -->
  <div class="row" style="margin-top: 12px;">
    <input type="text"
           [(ngModel)]="searchText"
           class="mat-form-field"
           style="width: 50%;"
           placeholder="Wyszukaj playlistę..." />
    <button mat-raised-button
            type="button"
            color="primary"
            routerLink="/playlist/add"
            style="margin-left: 10px;">Add playlist
    </button>
  </div>

  <!-- Playlist content -->
  <div class="row" style="margin-top: 28px;" *ngIf="isLoggedIn">
    <div class="col-md-3">
      <br>
      <div class="list-group list-group-flush">
        <div *ngFor="let playlist of playlists | playlistFilter:searchText">
          <a class="list-group-item list-group-item-action">
            {{ playlist.name }}
            <i class="material-icons" (click)="deletePlaylist(playlist.id)" style="float:right;">delete</i>
            <i class="material-icons" style="float:right; margin-right: 2px;" routerLink="../../playlist/{{playlist.id}}/edit">edit</i>
            <i class="material-icons" style="float:right; margin-right: 2px;" routerLink="../../playlist/{{playlist.id}}/details">slideshow</i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-warning" role="alert" *ngIf="!isLoggedIn">
    <a routerLink="/login">Zaloguj się</a>, jeśli chcesz zobaczyć Twoje playlisty!
  </div>

</div>
